<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>example for gitee project</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.gitee.jenkins.connection.GiteeConnectionProperty plugin="gitee@1.1.3">
      <giteeConnection>gitee</giteeConnection>
    </com.gitee.jenkins.connection.GiteeConnectionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.12.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/* +refs/pull/*/MERGE:refs/pull/*/MERGE</refspec>
        <url>git@gitee.com:saigonshu/fou.git</url>
        <credentialsId>key-gitee</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.PreBuildMerge>
        <options>
          <mergeRemote>origin</mergeRemote>
          <mergeTarget>${ReleaseBranch}</mergeTarget>
          <mergeStrategy>default</mergeStrategy>
          <fastForwardMode>FF</fastForwardMode>
        </options>
      </hudson.plugins.git.extensions.impl.PreBuildMerge>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.gitee.jenkins.trigger.GiteePushTrigger plugin="gitee@1.1.3">
      <spec></spec>
      <triggerOnPush>true</triggerOnPush>
      <triggerOnOpenPullRequest>false</triggerOnOpenPullRequest>
      <triggerOnPipelineEvent>false</triggerOnPipelineEvent>
      <triggerOnAcceptedPullRequest>true</triggerOnAcceptedPullRequest>
      <triggerOnUpdatePullRequest>false</triggerOnUpdatePullRequest>
      <triggerOnClosedPullRequest>false</triggerOnClosedPullRequest>
      <triggerOnApprovedPullRequest>false</triggerOnApprovedPullRequest>
      <triggerOnTestedPullRequest>false</triggerOnTestedPullRequest>
      <triggerOnNoteRequest>false</triggerOnNoteRequest>
      <noteRegex>Retry build</noteRegex>
      <ciSkip>true</ciSkip>
      <skipWorkInProgressPullRequest>false</skipWorkInProgressPullRequest>
      <ciSkipFroTestNotRequired>true</ciSkipFroTestNotRequired>
      <skipLastCommitHasBeenBuild>true</skipLastCommitHasBeenBuild>
      <setBuildDescription>true</setBuildDescription>
      <branchFilterType>All</branchFilterType>
      <includeBranchesSpec></includeBranchesSpec>
      <excludeBranchesSpec></excludeBranchesSpec>
      <targetBranchRegex></targetBranchRegex>
      <secretToken>{AQAAABAAAAAQ7BTYK0aFkajYG+PTjeJczuOZ8Pdov74wPgzsBV9mWHc=}</secretToken>
      <cancelPendingBuildsOnUpdate>false</cancelPendingBuildsOnUpdate>
    </com.gitee.jenkins.trigger.GiteePushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <com.gitee.jenkins.publisher.GiteeAcceptPullRequestPublisher plugin="gitee@1.1.3"/>
    <com.gitee.jenkins.publisher.GiteeMessagePublisher plugin="gitee@1.1.3">
      <onlyForFailure>true</onlyForFailure>
      <replaceSuccessNote>false</replaceSuccessNote>
      <replaceFailureNote>false</replaceFailureNote>
      <replaceAbortNote>false</replaceAbortNote>
      <replaceUnstableNote>false</replaceUnstableNote>
      <successNoteText></successNoteText>
      <failureNoteText></failureNoteText>
      <abortNoteText></abortNoteText>
      <unstableNoteText></unstableNoteText>
    </com.gitee.jenkins.publisher.GiteeMessagePublisher>
  </publishers>
  <buildWrappers/>
</project>